---
# Tells GitHub Pages not to run the output through Jekyll, which would strip
# any path beginning with an underscore.
permalink: /.nojekyll
eleventyAllowMissingExtension: true
eleventyExcludeFromCollections: true
---
